.login  {
  max-width: 480px;
  width: 100%;
  margin: auto;
  padding: 30px;
  background-color: var(--primary-color-light);
  border-radius: 30px;
}

.login__header {
  display: grid;
  row-gap: 24px;
  margin-bottom: 40px;
}

.login__form {
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 24px;
}

.login__input {
  background-color: var(--primary-color-light);
  border: none;
  border-bottom: 1px solid var(--primary-color-dark);
  padding: 15px 15px 5px;
  outline: none;
  width: 100%;
  text-align: left;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--primary-color-accent);
  transition: box-shadow 0.15s ease-in, border-color 0.15s ease-in;
}

.login__input:focus, .login__input:not(:placeholder-shown) {
  border-color: var(--primary-color-dark);
  box-shadow: 0px 15px 25px -18px rgba(45, 191, 248, 0.5), 0px -5px 5px -5px rgba(45, 191, 248, 0.5) inset;
}

.login__input::placeholder {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	color: #00000075;
	opacity: 1;
  transition: transform 0.6s ease-in, opacity 0.3s ease-in 0.3s;
}

.login__input:focus.login__input::placeholder {
  transform: translateX(-100%);
	opacity: 0;
  transition: transform 0.6s ease-in, opacity 0.3s ease-in;
}