.login  {
  width: 480px;
  margin: auto;
  padding: 30px;
  background-color: #e2dcdc;
  border-radius: 30px;
}

.login__title {
  margin: 0 0 32px;
  width: 100%;
  text-align: left;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #1c1e2c;
}

.login__desc {
  margin: 0 0 32px;
  width: 100%;
  text-align: left;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #1c1e2c;
}

.login__form {
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 24px;
}

.login__input {
  background-color: #e2dcdc;
  border: none;
  border-bottom: 1px solid #211e2c;
  padding: 15px 15px 5px;
  outline: none;
  width: 100%;
  text-align: left;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgb(88, 141, 7);
  transition: box-shadow 0.15s ease-in, border-color 0.15s ease-in;
}

.login__input:focus, .login__input:not(:placeholder-shown) {
	border-color: rgb(163, 243, 44);
  box-shadow: 0px 5px 10px -6px rgba(163, 243, 44, 0.5), 0px -5px 5px -5px rgba(163, 243, 44, 0.5) inset;
}

.login__input::placeholder {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	color: #5a585f;
	opacity: 1;
  transition: transform 0.6s ease-in, opacity 0.3s ease-in 0.3s;
}

.login__input:focus.login__input::placeholder {
  transform: translateX(-100%);
	opacity: 0;
  transition: transform 0.6s ease-in, opacity 0.3s ease-in;
}

.account__btn {
  margin: 0;
  padding: 15px 20px;
  border-radius: 24px;
  border: 1px solid #000;
  outline: none;
  background-color: transparent;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #000000;
  transition: border-color 0.15s ease-in, opacity 0.15s ease-in;
  cursor: pointer;
}

.account__btn:focus, .account__btn:active {
  border-color: rgb(88, 141, 7);
}

.account__btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}